.login-container {
  min-height: 100vh;
  background-color: #dfebf6; /* light blue */
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  background: white;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 350px;
}
.login-title {
  font-size: 28px;      
  font-weight: bold;    
  text-align: center;   
  color: rgb(0, 0, 0);         
  margin-bottom: 40px;    
}
.login-Subtitle {
  font-size: 20px;      
  font-weight: bold;    
  text-align: center;   
  color: rgb(118, 117, 117);         
  margin-bottom: 10px;    
}